.track-container {
    display: flex;
    flex-direction: row;
}

.track-container img {
    object-fit: contain;
    vertical-align: center;
}

.track-info {
    text-align: left;
    margin-left: 8px;
}

.track-title {
    font-weight: bold;
    font-size: 0.75em;
    margin-bottom: 0.5em;
}

.track-artist {
    font-size: 0.6em;
    margin-top: 0;
}