.track-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Targets the div rendered by the Track component */
.track-container > div:first-child {
    flex-grow: 1; /* Allows this element to take up available space */
    margin-right: 0.5rem; /* Adds a small space between track info and button */
    overflow: hidden; /* Prevents long text from breaking layout */
    text-overflow: ellipsis; /* Shows ... for overflowed text */
    white-space: nowrap; /* Keeps track info on a single line */
}

.track-container button {
    flex-shrink: 0; /* Prevents the button from shrinking */
}

.action-button {
    color: blue;
    background-color:hotpink;

    width: 2em;
    height: 2em;
    padding: 0;

    border: 0.1em solid black;
    border-radius: 50%;

    font-size: 1em;
    font-weight: bolder;

    cursor: pointer;
}

.action-button:hover {
    background-color:greenyellow;
}