.track-lists {
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 50vh;
  width: 40vw;
  border-radius: 25px;
  margin: 2vh 0;
  padding: 0 1vw;
}

.error-heading {
    color: #D32F2F;
    font-weight: bolder;
}