.app {
  text-align: center;
  font-size: 20px;
  background-color: #121212;
  color: white;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.track-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}