.tracks-heading {
    text-decoration: underline;
    text-align: left;
}

.save-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 1em;
}

.save-form input {
    font-size: 1em;
}